<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>Flight Number:</div>
    <div><%= flight.flightNo %></div>
    <div>Flight Departure:</div>
    <div><%= flight.departs %></div>
    <div><%= flight.createdAt.toLocaleString('en-US')%></div>
    
  </section>
  <a href="/flights/<%= flight._id %>/edit">
    <button>Edit flight</button>
  </a>

  <% // new markup below %>
  <h2>Tickets</h2>
  <form
    id="add-seat-form"
    action="/flights/<%= flight._id %>/ticket"
    method="POST"
  >
    <label for="seat">seats(must be A1-F99)</label>
    <input name="seat" required pattern="[A-F][1-9]\d"/>
    <label for= "price">Price</label><input type="text" name="price" id="price"/>
    <button type="submit">Add Seat</button>

  </form>
  <% if (flight.tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>    
        
      </tr>
    </thead>
    <tbody>
      <% flight.tickets.forEach(function(ticket) { %>
      <tr>
        <td><%= ticket.seat %> 
        <%= ticket.createdAt.toLocaleString('en-US') %></td>
        <td><%= ticket.price %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
  <h3>No tickets Yet</h3>
  <% } %>
<%# start meal list %>
<!-- <div>Meal:</div>
<ul>
  <% flight.meal.forEach(mealMember => { %>
    <li><%= mealMember.name %></li>
  <% }) %>

</select>
<button type="submit">Add to Meal</button>
</form> -->





</main>

<%- include('../partials/footer') %>
